<% if @user.id === current_user.id %>
<div class="container">
<div class="columns is-centered">
  <div class="column is-three-fifths">
    <%= image_tag(@user.avatar) %>
    <%= form_for @user do |f|  %>
    <div class="field">
      <%= f.label :username %><br/>
      <div class="control has-icons-left">
        <%= f.text_field :username, class:'input'%>
        <span class="icon is-small is-left">
          <i class="fas fa-user-plus"> </i>
        </span>
      </div>
    </div>
    <div class="field">
      <%= f.label :f_name, 'First Name' %><br/>
      <div class="control has-icons-left">
        <%= f.text_field :f_name, class:'input'%>
        <span class="icon is-small is-left">
          <i class="fas fa-user-plus"> </i>
        </span>
      </div>
    </div>

    <div class="field">
      <%= f.label :l_name, 'Last Name' %><br/>
      <div class="control has-icons-left">
        <%= f.text_field :l_name, class:'input'%>
        <span class="icon is-small is-left">
          <i class="fas fa-user-plus"> </i>
        </span>
      </div>
    </div>
    <div class="field">
      <%=f.label :about, 'Tell us a little bit about yourself' %>
      <div class="control">
        <%= f.text_area :about, class:'textarea' %>
      </div>
    </div>
    <%= f.submit 'Submit Changes' %>
    <% end %>
  </div>
</div>
<% else %>
Nice Try Loser =\
<% end %>
</div>
