<div class="container">
  <div class="columns is-centered has-text-centered">
    <div class="column">
      <h1>Hello
        <%=current_user.username %></h1>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-fifth has-text-centered">
      <%= image_tag(current_user.avatar)%>
      <p class="user-full-name">
        <%=current_user.f_name %>
        <%=current_user.l_name %><br/>
        <%=current_user.email %><br/>
        No. of Photos: <%= current_user.photos.count %>

      </p>
      <p class="about-user"><%= current_user.about %></p>
      <div>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
    <div class="column photoContainer">
      <div class="columns topNav">
        <div class="column topNavCol">
          <span>
            Gallery
          </span>
          <span><%=link_to 'Add New Photo', new_photo_path, class:'addPhotoLink' %>
          <%=fa_icon 'plus', class:'addPhotoLink'%></span>
        </div>
      </div>
      <div class="columns is-multiline">
        <% current_user.photos.each do |photo| %>
        <div class="column is-one-third">
          <%= link_to photo_path(photo) do %>
          <%= image_tag(photo.image, class:'photo') %>
          <% end %>
          <%= photo.title %> <%= link_to 'Edit', edit_photo_path(photo), class:'edit-link' %>
          <%= link_to photo, method: :delete do %>
          <span> <%=fa_icon 'trash', class:'delete-photo'%> </span>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
