<div class="container">
  <% if user_signed_in? %>
    <div class="columns">
      <div class="column">
        Most Recent Uploads
      </div>
    </div>
    <div class="columns recentUploadsRow">
      <% @photos.each do |photo| %>
        <div class="column is-one-quarter">
          <%= link_to photo_path(photo) do %>
          <%= image_tag(photo.image, class:'photo')%>
        <% end %>
        Photo Taken By:
        <%= link_to user_path(photo.user) do %><%=photo.user.username %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="columns">
  <div class="column">
    Newest Members
  </div>
</div>
<div class="columns has-text-centered recentUploadsRow">
  <% @users.each do |user| %>
    <div class="column is-one-third">
      <%= user.username %>
      <% if user.avatar.attached? %>
        <%= link_to user_path(user) do %>
        <div><%= image_tag(user.avatar, class:'user-avatar-img') %></div>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
<% else %>
<div class="columns has-text-left">
<div class="column">Sign Up Now! Share your photos with the world!</div>
</div>
<div class="columns has-text-right">
<div class="column">
  Join the best online gallery community today!
</div>
</div>
<div class="columns">
<div class="column">
  <%= link_to 'Create An Account!', new_user_registration_path %>
</div>
</div>
<% end %>
</div>
