<div class="container">
  <div class="columns is-centered">
    <div class="column is-three-fifths">
<%=form_for @photo do |f| %>
<div class="field">
  <%= f.label :title %>
  <div class="control has-icons-left">
  <%= f.text_field :title, class:'input' %>
  <span class="icon is-small is-left">
    <i class="fas fa-pencil-alt"></i>
  </span>
</div>
</div>


<div class="field">
  <%= f.label :description %>
  <div class="control has-icons-left">
  <%= f.text_area :description, class:'input' %>
  <span class="icon is-small is-left">
    <i class="fas fa-pencil-alt"></i>
  </span>
</div>
</div>

<div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>

<div class="actions">
  <%=f.submit %>
</div>

<% end %>
</div>
</div>
</div>
