<!DOCTYPE html>
<html>
  <head>
    <title>PhotoCatcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <!-- <%=image_tag image_path('photo_catcher_icon.png') %> -->
    </nav>
    <%= yield %>
  </body>
</html>
